


.App{
  //display: flex;
  flex-wrap: wrap;
}
.unitid__container{
  border: 1px solid grey;
  border-radius: 25%;
  padding: 3px;
}
.checkbox__container{
  span{
    position: relative;
    bottom: 3px;
  }
}
.input__group{
  display: inline-block;
}
.input__container{
  border: 1px solid grey;
  border-radius: 10%;
  height: 38px;
  display: inline-block;
  //width: auto;

}
input{
  border: none;
  font-size: 30px;
}
input[type=checkbox]{
  flex: 20%
}
input:read-only{
  background-color: lightgrey;
}

.sentence__group{
  //display:flex;
}
.combination__container,
.definition__container,
.defpron__container{
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
  align-items: center;
  border: 1px solid grey;
  border-radius: 0 10px 10px 0;
  span {
    display: inline-block;
    max-width: 90%;
    padding: 0 25px 0 0;
    background-color: rgba(211, 211, 211, 0.692);
    font-size: 30px;
    border-radius: 0 10px 10px 0;
  }
  span:focus{
    background-color: white;
  }
  svg{
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
  }

}