


.App{
  //display: flex;
  flex-wrap: wrap;
}
.unitid__container{
  border: 1px solid grey;
  border-radius: 25%;
  padding: 3px;
}
.checkbox__container{
  span{
    position: relative;
    bottom: 3px;
  }
}
.input__group{
  display: inline-block;
}
.input__container{
  border: 1px solid grey;
  border-radius: 10%;
  height: 38px;
  display: inline-block;
  //width: auto;

}
input{
  border: none;
  font-size: 30px;
}
input[type=checkbox]{
  flex: 20%
}
input:read-only{
  background-color: lightgrey;
}

.sentence__container{
  border: 1px solid grey;
  border-radius: 10%;
  display: inline-block;
  span {
    //display: inline-block;
    padding: 0 10px 0 0;
    background-color: lightgrey;
    font-size: 30px;

  }

}