.App{
  //display: flex;
  flex-wrap: wrap;
}
.unitid__container{
  border: 1px solid grey;
  border-radius: 25px;
  padding: 5px 10px;
  span{
    position: relative;
    bottom: 2px;
  }
}
input[type=checkbox]{
  transform: scale(1.7);
}
.lesson--controls{
  display: flex;
  svg{
    flex:30%
  }
}
.input__group{
  width: 95%;
  margin: 0 auto 12px;
  text-align: center;
  label{ 
    //display: block;
    margin: 0 5px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2px 5px;
  }
  .definitions{
    display: none;
    .definition__container{
      font-size: 20px;
    }
    
  }
}
.input__container{
  border: 1px solid grey;
  border-radius: 10%;
  height: 38px;
  display: inline-block;
  //width: auto;

}


@import './Sentences.scss';

.hzwriter__container{
  margin: 0 auto;
}

#hzchar{
  display: block;
  margin: auto;
}
.hzwriter__links{
  
  
  margin:10px 0 0 0;
  //padding: 0 25%;
  text-align: center;
  color: blue;
  .link{
    flex:1;
    display: inline;
    font-size: 30px;
    cursor: pointer;
  }
}