.menu-overlay{
    width: 100vw; 
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.401);
    z-index: 2;
    visibility: hidden;
    top:0px;
  }
  .main-container{
    height: 100vh;
    z-index: -1;
  }
  
  .menu-container{
    //display: flex;
    flex-direction: column;
    align-items: space-between;
    align-content: space-between;
    justify-content: space-between;
    border: 10px solid transparent ;
    //padding: 50% 10% 50% 0; 
    height: 100vh;
    width: 40%;
    color: transparent;
    position: absolute;
    left: -125px;
    //top: 25%;
    z-index: 3;
    transition: .3s;
    visibility: visible;
  }
  .menu-group-container{
   position: absolute;
   //width: 100%;
   top: 25%
  }
  .menu-item-container{
    flex: 1;
    display: flex;
    padding: 10px 10px;
    
  }
  .menu__description{
    padding: 0 0 0 10px;
    position: relative;
    top: 5px;
  }
.menu__icon{
  width: 30px;
  height: 30px;
}
.menu-open{
  left:0px;
  transition: .3s;
}

.modal--content{
  svg{
    display: block;
    margin: 0 auto;
  }

}
.input--search{
  font-size: 30px;
}

.search--result__contaner{
  overflow-x: hidden;
}
.search--result{
  display: block;
  text-decoration: underline;
  color: blue;
  
}