.sentences{
  position: relative;
  left: 4px;
  width: 95%;
  margin: 10px auto;
}
.sentence__group{
  margin: 10px 0;
}
.combination__container,
.combdef__container,
.defpron__container,
.definition__container{
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
  align-items: center;
  border: 1px solid rgb(163, 162, 162);
  border-radius: 10px;
  font-size: 30px;
  span {
    display: inline-block;
    max-width: 100%;
    padding: 0 15px 0;
    background-color: rgba(211, 211, 211, 0.328);
    border-radius: 10px;
  }
  span:focus{
    background-color: white;
  }
  svg{
    height: 100%;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.combdef__container{
  margin:5px 0;
  font-size: 20px;
  display: none;
}
.view-control-box{
  display: block;
  margin: 18px 0;
  text-align: center;
  button{
    height: 30px;
    width: 46px;
    margin: -2px;
    border: 1px solid lightgray;
  }
  button:nth-child(1), button:nth-child(2){
    position: relative;
    bottom: 5px;
    left:-3px;
  }
  button:nth-child(1){
    border-radius: 10px  0 0 10px;
  }
  button:nth-child(7){
    
    border-radius: 0 10px 10px 0;
  }
  button:disabled{
    svg{
      fill: grey;
    }
    
  }
}


.sentences--long{
  display: none;
  
}
